@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron-fluid">
    <h1>The Stone Skipper</h1>
    <h4>An area guide to the best places to skip around!</h4>
    <p>@Html.ActionLink("Reviews", "Index", "Reviews", new { id = ViewBag.ID }, new { @class = "btn btn-default", role = "button" })</p>
</div>


<div class="row">
    <div class="col-md-3">
        <h2>The Ideal Stone</h2>
        <div class="thumbnail1">
        </div>
        <p>Mauris rhoncus eu magna non hendrerit. Fusce sit amet neque dolor. Vivamus vel turpis ligula. Nam dignissim dolor sed rutrum dapibus. Nullam vitae efficitur ligula, sit amet faucibus leo.</p>
        <hr /><p>@Html.ActionLink("Fake Link", "Index", "Reviews", new { id = ViewBag.ID }, new { @class = "btn btn-default", role = "button" })</p>
    </div>
    <div class="col-md-3">
        <h2>The Ideal Throw</h2>
        <div class="thumbnail2">
        </div>
        <p>Mauris rhoncus eu magna non hendrerit. Fusce sit amet neque dolor. Vivamus vel turpis ligula. Nam dignissim dolor sed rutrum dapibus. Nullam vitae efficitur ligula, sit amet faucibus leo.</p>
        <hr /><p>@Html.ActionLink("Fake Link", "Index", "Reviews", new { id = ViewBag.ID }, new { @class = "btn btn-default", role = "button" })</p>
    </div>
    <div class="col-md-6">
        <h2>Put It All Together</h2>
        <div class="thumbnail3">
        </div>
        <p>Mauris rhoncus eu magna non hendrerit. Fusce sit amet neque dolor. Vivamus vel turpis ligula. Nam dignissim dolor sed rutrum dapibus. Nullam vitae efficitur ligula, sit amet faucibus leo. Duis augue ligula, pharetra nec ex vitae, venenatis pulvinar libero. Vestibulum ornare ut magna sed ultrices.</p>
        <hr /><p>@Html.ActionLink("Fake Link", "Index", "Reviews", new { id = ViewBag.ID }, new { @class = "btn btn-default", role = "button" })</p>
    </div>
</div>
